.nav-bar {
    background-image: url("https://raw.githubusercontent.com/ZigglyMantis/ClickyGame/master/clickygame/public/images/navbar.jpg");
    color: rgb(255, 232, 150);
    position: fixed;
    text-align: center;
    width: 100%;
}