.nav-bar {
    background-image: linear-gradient(to top, rgba(0, 0, 128, 0.404), rgb(0, 0, 128));
    background: radial-gradient(circle, rgba(0, 0, 128, 0.75), rgba(0, 0, 255, 0.50), rgba(135, 206, 250, 0.15));
    color: black;
    position: fixed;
    text-align: center;
    width: 100%;
}