.card {
    background: navy;
    border-color: darkblue;
    margin: 4px;
    position: relative;
    overflow: hidden;
    width: 256px;
    border-radius: 100px;
}

.card .img-container {
    text-align: center;
    background: navy;
    overflow: hidden;
    width: 256px;
    height: 256px;
    border-radius: 100px;
}

.card:hover {
    transform: scale(1.1);
}