/* .card {
    background: navy;
    border-radius: 1.75px;
    border-color: darkblue;
    margin: 0.5%;
    position: relative;
}

.card .img-container {
    text-align: center;
    background: navy;
    overflow: hidden;
} */