.container {
    display: block;
    padding-top: 80px;
    text-align: center;
    color: rgb(255, 232, 150);
}

.audio-container {
    text-align: center;
}

audio {
    filter: sepia(100%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 1200px;
    height: 25px;
}